<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf8" name="viewport" content="width=device-width, initial-scale=1"> 
		<title>
			MyFlaskApp
		</title>
		  <link rel="stylesheet" href="{{url_for('static', filename='bootstrap.min.css') }}">
	</head>
	<body>
		{% block body %}{% endblock %} 
	</body>
	  <script type=text/javascript src="{{url_for('static', filename='jquery-1.10.2.js') }}"></script>
	  <script type=text/javascript src="{{url_for('static', filename='bootstrap.min.js') }}"></script>
</html>
