{% extends 'layout.html' %} {% block body %} 
<body>
<meta http-equiv="refresh" content="30" >
<nav class="navbar navbar-inverse">
	<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
	    <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
    </button>
    		<div class="navbar-header">
			<a class="navbar-brand" href="/">PySlider</a> 
		</div>
	<div class="collapse navbar-collapse">
		<ul class="nav navbar-nav">
			<li><a href="/linear" data-toggle="collapse" data-target=".navbar-collapse.in">Linear Slider</a></li>
			<li><a href="/pan" data-toggle="collapse" data-target=".navbar-collapse.in">Panoramic Slider</a></li>
			<li class="active"><a href="/status" data-toggle="collapse" data-target=".navbar-collapse.in">Status</a></li>
		</ul>
		<form id="shutdown" class="navbar-form navbar-right">
			<button type="calibrate" class="btn btn-primary"><a style="color: inherit; text-decoration: none" href="/calibrate">Calibrate</a></button> 
			<button type="shutdown" class="btn btn-danger"><a style="color: inherit; text-decoration: none" href="/shutdown_pi" onclick="return confirm('Are you sure?');">Shutdown</a></button> 
		</form>
	</div>
</nav>
<div class='table-responsive'>
<table class="table">
  <tr>
    <th>task id</th>
    <th>insert time</th>
    <th>direction</th>
    <th>time delay</th>
    <th>shots</th>
    <th>status</th>
  </tr>

  {% for line in table %}
  <tr>
    <td>{{ line["id"] }}</td>
    <td>{{ line["insertTime"] }}</td>
    <td>{% if line["direction"] == "0" %}Left to Right{% else %}Right to Left{% endif %}</td>
    <td>{{ line["timeDelay"] }}</td>
    <td>{{ line["shots"] }}</td>
    <td>{{ line["status"] }}</td>
  </tr>
  {% endfor %}
</div>
</body>
{% endblock %} 