<html>
<head>
<style>
table, th, td {
    border: 1px solid black;
}
th, td {
    padding: 5px;
    text-align: left;
}
</style>
</head>
<title>Sample table</title>
<body>
<h2>Sample table</h2>
<table>
  <tr>
    <th>task id</th>
  </tr>

  {% for line in table %}
  <tr>
    <td>{{ line["id"] }}</td>
  </tr>
  {% endfor %}

</table>

<h2>Sample table2</h2>
<table>
  <tr>
    <th>task id</th>
    <th>insert time</th>
    <th>start time</th>
    <th>direction</th>
    <th>time delay</th>
    <th>shots</th>
    <th>status</th>
  </tr>

  {% for line in table2 %}
  <tr>
    <td>{{ line["id"] }}</td>
    <td>{{ line["insert_time"] }}</td>
    <td>{{ line["start_time"] }}</td>
    <td>{{ line["direction"] }}</td>
    <td>{{ line["time_delay"] }}</td>
    <td>{{ line["shots"] }}</td>
    <td>{{ line["status"] }}</td>
  </tr>
  {% endfor %}

</table>

<h2>Data dump</h2>
{{ table }}
{{ table2 }}
</body>
</html>
